@{
    ViewBag.Title = "Aguarde validação";
}

<div class="gray-bg section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        Falta pouco para você aproveitar o WebVans. Aguarde em seu e-mail a aprovação do seu cadastro!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>