@{
    ViewBag.Title = "Restauração de senha";
}
<div class="gray-bg section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            <p>
                                Sua sena foi restaurada. Por favor @Html.ActionLink("clique aqui para acessar o WebVans", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>