@{
    ViewBag.Title = "Termos de Uso";
}

<div class="gray-bg section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        Texto para Termos de Uso
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>