@{
    ViewBag.Title = "Home";
}

<!-- main start -->
<!-- ================ -->
<div id="icon-boxes" class="main">

    <div class="gray-bg section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                <i class="fa fa-truck"></i>
                                <h2>Minhas Vans</h2>
                                <p>Você tem uma Van para prestar serviços? Informe sua disponibilidade.</p>
                                <a href="/MinhasVans" class="btn-default btn">Ir</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                                <i class="fa fa-search"></i>
                                <h2>Pesquisar Vans</h2>
                                <p>Você precisa de uma Van para um serviço? Clique aqui para encontrá-la!</p>
                                <a href="/PesquisarVans" class="btn-default btn">Ir</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                <i class="fa fa-pencil-square-o"></i>
                                <h2>Minhas solicitações</h2>
                                <p>Seu histórico de pedidos de Vans estão nessa seção.</p>
                                <a href="/MinhasSolicitacoes" class="btn-default btn">Ir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main end -->